@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color: rgb(17, 86, 102);
  --primary-color-darker: rgb(9, 48, 56);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  border: 5px solid black;
}

img, form input, form label, form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}

form input:focus {
  outline: 1px solid var(--primary-color);
}

form button {
  border: none;
  background: var(--primary-color);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;

}

form button:hover {
  background: var(--primary-color-darker);
}

#resultado {
  background: rgb(0, 0, 0);
  padding: 10px 20px;
  color: rgb(255, 249, 249);
}

h1{
  text-align: center;
  font-size: 60px ;
    font-family: "Nabla", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "EDPT" 100,
      "EHLT" 12;
      background-color: var(--primary-color);
      padding: 20px;
    margin-left: 100px;
    margin-right: 100px ;
    border-radius: 50px;

}

#console {
  width: 100%;
  height: 200px;
  border: 1px solid #ccc;
  background-color: #f8f9fa;
  overflow: auto;
  padding: 10px;
  font-family: monospace;
  font-size: 14px;
}

h2 {
  text-align: center;
  font-size: 30px ;
    font-style: normal;
      background-color: var(--primary-color);
      padding: 10px;
    margin-left: 100px;
    margin-right: 100px ;
    border-radius: 100px;
    font-weight: bold; 
}


nav{
  font-family: 'Open sans', sans-serif;
  background-color: #fff;
  border: 3px solid black;
  text-align: center;

  
}


